.jumbotron {
    text-align: center;
    
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
    border-bottom: 30px darkslategray;
}
.nav-link {
    text-decoration-color: greenyellow;

}

.dropdown-menu{
    background-color: rgba(0,0,0, 0.5);
    
}

body{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:15px;
    color: white;
}

.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }

  .image-stack__item--top {
    grid-column: 1 / span 8;
    grid-row: 1; 
    padding-top: 20%;
    z-index: 1; 
  }

  .image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1; 
  }

  #chartdiv1 {
    width: 100%;
    height: 500px;
    color: black;
  }
  #chartdiv2 {
    width: 100%;
    height: 500px;
    color: black;  
  }

  .videos {
    width: 500px;
    height: 250px;

    color: black;

  }




   /* Style the navigation menu */
.topnav {
  overflow: hidden;
 
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #333;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
 
  color: white;
} 
.dropdown-menu a:hover {
  background-color: #333;
  color: black;
}
.nav-link{
  font-size: larger;
}